/* Container setup */
.scroll-container {
    overflow: auto;
    max-height: 300px;
    /* or whatever fits your design */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for WebKit browsers */
.scroll-container::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
}

/* On hover, show the scrollbar */
.scroll-container:hover {
    scrollbar-width: thin;
    /* Firefox */
}

/* On hover: WebKit show scrollbar */
.scroll-container:hover::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Style the scrollbar */
.scroll-container:hover::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #f0f0f0;
}

.scroll-container:hover::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.react-tel-input .country-list .country {
    color: black !important;
}

/* Cross-browser placeholder styling */
input::placeholder,
textarea::placeholder {
    color: #9ca3af !important;
    /* Tailwind gray-400 */
    opacity: 1 !important;
    /* Ensure it's not faded */
    font-style: italic;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #9ca3af !important;
    opacity: 1 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #9ca3af !important;
    opacity: 1 !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #9ca3af !important;
    opacity: 1 !important;
}

.input:is(:disabled, [disabled]) {
    background-color: #efefef !important;
}